.header {
  display: flex;
  height: 5rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.header .logo_header {
  display: flex;
  align-items: center;
}

.header .logo_header img {
  width: 3rem;
  margin-right: 0.3rem;
}

.header .logo_header h1 {
  line-height: 24px;
  font-size: 24px;
  letter-spacing: 1px;
}
.header .logo_header p {
  line-height: 14px;
}

.header .icon_profile {
  display: flex;
  gap: 1rem;
}
